@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Raleway:400,100,300,700,500|Open+Sans:300,400,600,700,800|Roboto:100,300,400,500,700,900");

$body-font: "Open Sans", "Helvetica", "sans-serif";
$headers-font: "Open Sans", "sans-serif";
$paragraph-font: "Roboto", "sans-serif";
