// Specific CSS for your home-page

.home-banner {
  height: 80vh;
  display: flex;
  align-items: center;
  padding-left: 10%;
  @media only screen and (max-width: 768px) {
    height: calc(100vh - 55px);
    padding: 0 2%;
    text-align: center;
    justify-content: center;
    flex-direction: column;
  }
}

.home-banner-container {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  @media only screen and (max-width: 768px) {
    width: 90%;
    height: auto;
  }
}

.home-banner-image {
  margin-left: 70px;
  height: 450px;
  @media only screen and (max-width: 1200px) {
    margin-left: 70px;
    height: 400px;
  }
}

.home-banner-image-mobile {
  @media only screen and (max-width: 768px) {
    margin-bottom: 50px;
  }
}

.home-banner-button {
  height: 45px;
  width: 240px;
  margin: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
  border-radius: 30px;
  @media only screen and (max-width: 1200px) {
    width: 210px;
    padding: 0 30px;
  }
  p {
    color: white;
    margin: 0;
  }
}

.home-banner-button-link:hover {
  text-decoration: none;
}

.home-banner-buttons {
  display: flex;
  @media only screen and (max-width: 768px) {
    flex-direction: column;
    align-items: center;
  }
}

.home-banner-title h1 {
  font-weight: bold;
  font-size: 45px;
  margin-left: 5px;
  @media only screen and (max-width: 1120px) {
    font-size: 40px;
  }
  @media only screen and (max-width: 992px) {
    font-size: 35px;
  }
  @media only screen and (max-width: 768px) {
    font-size: 25px;
  }
}

.home-banner-subtitle {
  width: 70%;
  margin-left: 5px;
  p {
    font-weight: lighter;
    font-size: 20px;
    @media only screen and (max-width: 1120px) {
      font-size: 18px;
    }
    @media only screen and (max-width: 768px) {
      font-size: 16px;
    }
    @media only screen and (max-width: 768px) {
      font-size: 14px;
    }
  }
  @media only screen and (max-width: 768px) {
    width: 100%;
  }
}

.home-info-bar {
  background-image: asset_url('info-bar.png');
  height: 216px;
  background-size: cover;
  display: flex;
  padding: 0 5%;
  @media only screen and (max-width: 768px) {
    height: 500px;
    background-image: asset_url('mobile-info-bar.png');
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
}

.home-info-bar-section {
  width: 33%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.home-info-bar-content {
  color: white;
  h1 {
    font-weight: bold;
    font-size: 25px;
    @media only screen and (max-width: 1120px) {
      font-size: 22px;
    }
    @media only screen and (max-width: 768px) {
      font-size: 19px;
    }
    @media only screen and (max-width: 768px) {
      font-size: 16px;
    }
  }
}

.banner-mobile-app-image {
  width: 50%;
  display: flex;
  justify-content: center;
}

.kuuka-dab {
  width: 40%;
  @media only screen and (max-width: 768px) {
    width: 100%;
  }
}

.move-belongings-banner {
  height: 70vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15%;
  @media only screen and (max-width: 768px) {
    text-align: center;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
  }
}
.move-belongings-banner-container {
  width: 38%;
  height: 25%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  @media only screen and (max-width: 768px) {
    width: 45%;
  }
  @media only screen and (max-width: 768px) {
    width: auto;
    height: auto;
  }
}

.move-belongings-banner-title h1 {
  font-weight: bold;
  // font-size: 47px;
}

.move-belongings-banner-subtitle {
  p {
    font-weight: lighter;
    // font-size: 20px;
  }
}

.storage-banner {
  height: 70vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 12%;
  @media only screen and (max-width: 768px) {
    text-align: center;
    height: 100vh;
    flex-direction: column-reverse;
    justify-content: center;
  }
}
.storage-banner-container {
  width: 45%;
  height: 25%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  @media only screen and (max-width: 768px) {
    width: auto;
    height: auto;
  }
}

.storage-banner-title h1 {
  text-align: right;
  font-weight: bold;
  @media only screen and (max-width: 768px) {
    text-align: center;
  }
  // font-size: 47px;
}

.storage-banner-subtitle {
  p {
    text-align: right;
    font-weight: lighter;
    @media only screen and (max-width: 768px) {
      text-align: center;
    }
    // font-size: 20px;
  }
}

.storage {
  width: 45%;
  @media only screen and (max-width: 768px) {
    width: 100%;
  }
}

.covered-banner {
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-items: center;
  padding: 0 12%;
  @media only screen and (max-width: 768px) {
    height: auto;
    text-align: center;
    flex-direction: column-reverse;
    justify-content: center;
  }
}

.covered-banner-container {
  width: 55%;
  height: 15%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 50px;
  @media only screen and (max-width: 768px) {
    width: auto;
    height: auto;
  }
}

.covered-banner-title h1 {
  font-weight: bold;
  @media only screen and (max-width: 768px) {
    text-align: center;
  }
  // font-size: 47px;
}

.covered-banner-subtitle {
    font-weight: lighter;
    @media only screen and (max-width: 768px) {
      text-align: center;
    }
    // font-size: 20px;
}

.covered-options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  text-align: center;
  @media only screen and (max-width: 768px) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  p {
    color: white;
    margin: 10px 0;
    font-weight: lighter;
    font-size: 14px;
  }
}

.cover-options-image {
  width: 100%;
  border-radius: 5px 5px 0 0;
}

.cover-option-container {
  width: 250px;
  background: #00cdd7;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0,0,0,0.3);
  overflow: hidden;
  @media only screen and (max-width: 768px) {
    margin-bottom: 50px;
  }
  &:hover {
    animation-duration: 450ms;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-name: wiggle;
  }
}

@keyframes wiggle {
  0% { transform: translate(1px, 0); }
  10% { transform: translate(-1px, 0); }
  20% { transform: translate(1px, 0); }
  30% { transform: translate(-1px, 0); }
  40% { transform: translate(1px, 0); }
  50% { transform: translate(-1px, 0); }
  60% { transform: translate(1px, 0); }
  70% { transform: translate(-1px, 0); }
  80% { transform: translate(1px, 0); }
  90% { transform: translate(-1px, 0); }
  100% { transform: translate(0, 0); }
}

