// Import page-specific CSS files here.
@import "mixins";
@import "home";
@import "new_storage";
@import "contact";
@import "storage";

body {
  background-color: white;
}

// required star styled in forms
abbr {
  text-decoration: none !important;
  color: $primary;
}
