.storage-wrapper {
  width: 100vw;
  min-height: calc(100vh - 82px);
}

.list-your-space-background {
  position: absolute;
  width: 100vw;
  object-fit: contain;
  top: -10%;
  z-index: -1;
}

.main-screen {
  width: 100%;
  height: calc(100vh - 82px);
  padding: 125px 0;
  @include flex-column;
  justify-content: space-around;
  align-items: center;
}

.secondary-tag-line {
  font-family: $headers-font;
  font-weight: bold;
  font-size: 30px;
  text-align: center;
  color: #171D1C;
}

.main-title {
  flex-grow: 1;
  text-align: center;
  color: $white;
  font-family: $headers-font;

  h1 {
    font-weight: bold;
    font-size: 80px;
  }

  img {
    margin: 17px 0 0 0;
  }

}

.tag-line {
  font-size: 30px;
}

.storage-types {
  @include flex-row;
  justify-content: space-between;
  align-items: center;
  overflow: scroll;
}

.storage-type {
  width: 181px;
  height: 181px;
  margin: 17px;
  @include flex-row;
  flex-grow: 0;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid #E4E4E4;
  border-radius: 2px;
  img {
    width: 50px;
  }
}

.active {
  border: 3px solid #26CAD4;
}

@include for-laptop {
  .main-screen {
    padding-top: 100px;
  }

  .main-title {
    h1 {
      font-size: 50px;
    }
  }

  .tag-line, .secondary-tag-line {
    font-size: 20px;
  }


  .list-your-space-background {
    top: 0;
  }
}

@include for-tablet {
  .main-screen {
    padding-top: 75px;
  }

  .main-title {
    h1 {
      font-size: 30px;
    }

    img {
      width: 40%;
    }
  }

  .tag-line, .secondary-tag-line {
    font-size: 14px;
  }
}

@include for-landscape-phone {
  .main-title {

    h1 {
      font-size: 30px;
    }

    img {
      width: 50%;
      margin-top: 5px;
    }
  }

  .tag-line, .secondary-tag-line {
    font-size: 14px;
  }

  .list-your-space-background {
    top: 5%;
  }
}
