<div class="footer-kuuka">
  <%= image_tag 'footer-bar.png' %>
  <div class="main-footer-info">
    <div class="footer-kuuka-branding">
      <div>
        <h1>Kuuka</h1>
        <p>We help you every step of the way</p>
      </div>
    </div>
    <div class="footer-contact">
      <h5>Contact</h5>
      <p>contact@kuuka.com</p>
      <p>138 Kingsland, London, UK, E2 US7</p>
      <div class="social-links">
        <div class="link-circle"></div>
        <div class="link-circle"></div>
        <div class="link-circle"></div>
        <div class="link-circle"></div>
      </div>
    </div>
  </div>
  <hr style="margin-left: 5%; margin-right: 5%;">
  <div class="footer-bottom-links">
    <div class="kuuka-terms">
      <p style="margin-right: 10px;">Kuuka App All Rights Reserved</p>
      <%= link_to 'Terms & Conditions', root_path %>
    </div>
    <div class="seo">
      <p>Developed by: Hoxton Digital | <%= link_to 'London Web Development', 'https://www.hoxton-digital.com' %></p>
    </div>
  </div>
</div>
