<div class="storage-wrapper">
  <%= image_tag('list_your_space_background.png', class:'list-your-space-background') %>
  <div class="container">
    <div class="main-screen">
      <h1 class="title">List Your Space</h1>
      <%= image_tag('triangles.png') %>
      <p>Make money from your garage</p>
    </div>
  </div>
</div>
